# Д/з #1

###  Задача 1 Связанные списки
Напишите функцию (пусть онабудет называться reverse_linked_list), которая разворачивает связный список. На вход она принимает головную ноду, а на выход отдаёт хвостовую ноду исходного списка, но только теперь если попробовать пройтись по ней, она будет новой головной.

In [133]:
class Node(object):
    def __init__(self, value=None, next_node=None):
        self.value = value
        self.next = next_node

    def __str__(self):
        return f"[Node with value {self.value}]"

def print_linked_list(head):
    cur = head
    while cur is not None:
        print(cur)
        cur = cur.next

def reverse_linked_list(h):
    cur = h
    lst_node = []
    while cur is not None:
        lst_node.append(cur.value)
        cur = cur.next
    lst_node.reverse()
    cur = h
    i = 0
    while cur is not None:
        cur.value = lst_node[i]
        cur = cur.next
        i += 1
    return h


h, a, b, c, d = Node(1), Node(2), Node(3), Node("Внезапно"), Node(5)
h.next = a
a.next = b
b.next = c
c.next = d

print_linked_list(h)
h = reverse_linked_list(h)
print("---")
print_linked_list(h)

[Node with value 1]
[Node with value 2]
[Node with value 3]
[Node with value Внезапно]
[Node with value 5]
---
[Node with value 5]
[Node with value Внезапно]
[Node with value 3]
[Node with value 2]
[Node with value 1]

### Задача 2 Pandas
1) Выясните, сколько в среднем выходи полный счёт по пятницам на ланч у курящих мужчин (датасет tips)

2) Загрузите iris и посмотрите разбросы по всем числовым значениям для всех трёх классов цветов (датасет iris)

3) Создайте новый столбец с плотностью населения. Переименуйте названия первого и третьего столбца на русский язык

In [141]:
import pandas as pd

url = ("https://raw.githubusercontent.com/HerrEnot/MISIS/master/notebooks/season_2/tips.csv")
df = pd.read_csv(url, index_col='tip', parse_dates=True, dayfirst=True)

le_masque = df["sex"] == "Male"
le_masque &= df["day"] == "Fri"
le_masque &= df["smoker"] == "Yes"
le_masque &= df["time"] == "Lunch"

print(f"В среднем полный счёт по пятницам на ланч у курящих мужчин: {df[le_masque].sum()['total_bill']/df[le_masque].count()['total_bill']}")

В среднем полный счёт по пятницам на ланч у курящих мужчин: 11.386666666666668

In [145]:
import pandas as pd

url = ("https://raw.githubusercontent.com/HerrEnot/MISIS/master/notebooks/season_2/iris.csv")
df = pd.read_csv(url, index_col='Name', parse_dates=True, dayfirst=True)
setosa = df.index == "Iris-setosa"
versicolor = df.index == "Iris-versicolor"
virginica = df.index == "Iris-virginica"

print(f'    СРЕДНЕЕ ЗНАЧЕНИЕ ДЛЯ КАЖДОГО ЦВЕТКА\n\n')
df.groupby([df.index]).mean()

    СРЕДНЕЕ ЗНАЧЕНИЕ ДЛЯ КАЖДОГО ЦВЕТКА

                 SepalLength  SepalWidth  PetalLength  PetalWidth
Name
Iris-setosa            5.006       3.418        1.464       0.244
Iris-versicolor        5.936       2.770        4.260       1.326
Iris-virginica         6.588       2.974        5.552       2.026

In [146]:
import pandas as pd

df = pd.DataFrame({
     'country': ['Kazakhstan', 'Russia', 'Belarus', 'Ukraine'],
     'population': [17.04, 143.5, 9.5, 45.5],
     'square': [2724902, 17125191, 207600, 603628]
 })
df.set_index('country',inplace=True)
df['Плотность (чел/км²)'] = df['population'] * 10**6 / df['square']
df = df.rename({'population': 'Население (млн)', 'square': 'Площадь (км²)'}, axis=1)
df

            Население (млн)  Площадь (км²)  Плотность (чел/км²)
country
Kazakhstan            17.04        2724902             6.253436
Russia               143.50       17125191             8.379469
Belarus                9.50         207600            45.761079
Ukraine               45.50         603628            75.377550